# --- Core Simulation Libraries ---
numpy>=1.24.0
scipy>=1.10.0
pandas>=2.0.0
matplotlib>=3.7.0

# --- Specific Engineering Libraries ---
iapws>=1.5.3
PyYAML>=6.0

# --- Development & Testing Tools ---
notebook
flake8
black